@import "./trending.scss";
@import "./series.scss";
@import "./search.scss";
@import "./footer.scss";
@import "./navbar.scss";
@import "./error.scss";
@import "./loader.scss";
@import "./vote.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: #f2588a;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: #fff;
  background-color: #141825;
}

.button {
  font-weight: 500;
  border: 3px solid #00bce4;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px 0;
  transition: transform ease-in 0.25s;
  color: #fff;
  background-color: transparent;

  //routing etc..
  a {
    text-decoration: none;
    color: #fff;
  }

  &:last-child {
    @media screen and (max-width: 400px) {
      margin-left: 0;
    }
  }

  &:hover {
    transform: scale(0.97);
    transition: transform ease-in 0.25s;
  }

  @media screen and (max-width: 350px) {
    padding: 5px 10px;
  }
}

.button-list {
  border-color: #00bce4;
}

.button-watch {
  border-color: crimson;
}
