.movie-movie {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 30px;

  @media screen and (min-width: 1025px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.movie-cover {
  img {
    width: 100%;
    height: 400px;

    @media screen and (min-width: 375px) {
      width: 100%;
      height: 450px;
    }

    @media screen and (min-width: 450px) {
      width: 300px;
      height: 450px;
    }
  }
}

.movie-descriptionn {
  font-size: 17px;
  line-height: 23px;

  @media screen and (min-width: 1024px) {
    max-width: 700px;
  }
}

.movie-title {
  width: fit-content;
  font-size: 33px;
  font-weight: 700;
  border-bottom: 5px solid #f2588a;
  margin: 0 0 40px 0;

  @media screen and (max-width: 1024px) {
    margin-top: 20px;
  }
}
