footer {
  background-color: rgba(0, 0, 0, 0.5);
}

.footer-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;

  p {
    font-weight: 300;
    margin: 20px 0;

    a {
      text-decoration: none;
      border-bottom: 5px solid #f2588a;
      color: #fff;
    }
  }

  @media screen and (min-width: 768px) {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

.footer-brandlogo {
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0;

  a {
    text-decoration: none;
    transition: all ease-in 0.2s;
    color: #fff;

    &:hover {
      cursor: pointer;
      color: #f2588a;
    }
  }
}

.tmdb-logo {
  width: 200px;
}
