.movie-cast {
  max-height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: scroll;
  overflow-x: hidden;

  @media screen and (max-width: 350px) {
    justify-content: center;
  }

  @media screen and (min-width: 600px) {
    max-height: 670px;
  }
}

.movie-cast-card {
  width: 240px;
  min-height: 250px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  margin-right: 5px;
  margin-bottom: 15px;

  @media screen and (min-width: 350px) {
    width: 150px;
  }

  @media screen and (min-width: 350px) {
    width: 150px;
  }

  @media screen and (min-width: 421px) {
    width: 180px;
  }

  p {
    font-size: 14px;
  }

  img {
    height: 200px;
    width: 100%;
  }
}

.movie-cast-card-info {
  height: 100px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.movie-cast-card-info-actor {
  font-weight: 800;
  margin: 10px 0 0 0;
}

.movie-cast-card-info-character {
  margin: 0;
}
